<div class="criar-contrato-container mat-elevation-z8">
  <mat-card class="full-width-card">
    <mat-card-header>
      <mat-card-title class="titulo">Cadastrar Novo Contrato</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="ContratoForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nome do Cliente</mat-label>
          <input matInput formControlName="cliente" placeholder="Ex: João das Couves">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Número do Contrato</mat-label>
          <input matInput formControlName="numeroContrato" placeholder="Ex: 123456789">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Valor do Contrato</mat-label>
          <input matInput formControlName="valorContrato" placeholder="Ex: 1000">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Data de Assinatura</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataAssinatura" placeholder="Ex: 2023-07-15">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <input type="file" (change)="onFileChange($event)" accept=".pdf" formControlName="documento">

        <mat-card-actions class="button-container">
          <button mat-raised-button color="primary" type="submit" class="salvar"[disabled]="ContratoForm.invalid">Salvar</button>
          <button mat-raised-button color="primary" type="button" class="voltar"(click)="goBack()">Voltar</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
